/* EASYREAD CSS */

#print table {
	border-collapse: collapse;
}
#print td {
	border: solid 1px black;
	margin: 0;
	padding: 1rem;
	min-height: 1px;
}
#print img {
	max-width: 256px;
	max-height: 256px;
	width: 256px;
	height: 256px;
}
#print p {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: bold;
}
